[mysql_install_db]
basedir = /usr
datadir = /var/lib/mysql
auth_root_authentication_method = normal
skip_test_db = 1

[mysqld]
bind_address = *
port = 3306
pid_file = /run/mysqld/mysqld.pid
socket = /run/mysqld/mysqld.sock
skip_networking = 0
user = mysql