<!DOCTYPE html>
<html lang="FR-fr">
<head>
	<meta charset="UTF-8">
	<title>42 Info</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		body { padding-top:50px; }
	</style>
</head>
<body class="container">
<main>
	<div class="jumbotron">
		<form action="/" method="POST">
			<input type="password" name="password"/>
			<input type="submit" value="Submit"/>
		</form>
		
	</div>
</main>
</body>
</html>
